<?xml version="1.0" ?>
<launch>    


    <!--Initialise World -> Odom Transform -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="world_map_tf" args="0  0   0   0   0   0  world   map"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_odom_tf" args="0  0   0   0   0   0  map  odom"/>

    <!--Load xacro model -->
   <param name="robot_description" command="$(find xacro)/xacro  '$(find puzzlebot_description)/urdf/puzzlebot_jetson_ed_v1.xacro'"/>


    <node pkg="robot_state_publisher" type="robot_state_publisher" name="puzzlebot_state_pub" >
    </node>

    <node name="puzzlebot_joint_state_publisher" pkg="puzzlebot_description" type="joint_state_pub.py" >
    </node>

    <!-- Uncomment the Joint state publisher if not using a node to publish joint states. If uncommented, comment any node publishing joint states-->
    <!--<node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" >
    </node>-->

    <!-- Launch rviz -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find puzzlebot_description)/rviz/puzzlebot.rviz"/>
 
</launch>
